Flask==2.3.3
flasgger==0.9.7.1

numpy==1.26.4
pandas==2.2.2
nltk==3.6.1
scipy==1.13
matplotlib==3.10.1
scikit-learn==1.4.2
joblib==1.3.2
gunicorn==20.1.0

huggingface_hub==0.30.2

lib-ml==1.19.0

git+https://github.com/remla25-team8/lib-ml.git@v0.1.9#egg=lib-ml